* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.slider {
  overflow: hidden;
  height: 60vh;
  width: 600px;
  position: relative;
}
.board {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.image {
  flex-shrink: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
